:root {
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  color: #213547;
  background-color: #ffffff;
}

body {
  margin: 0;
  min-width: 320px;
}

main {
  max-width: 48rem;
  margin: 0 auto;
  padding: 2rem;
}
